@import "fonts.scss";

/*======================================================*/

*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	font-size: 15px;
}
object{
	width: 27px;
	height: 27px;
}
ul{
	list-style: none;
}
li{
	background-color: white;
	border-bottom: 1px solid rgba(120,120,120,.2);
	height: 70px;
	&:first-child span{
		font-weight: 700;
	}
	&:last-child{
		border-bottom: none;
	}
}
a{
	text-decoration: none;
}
span{
	font-weight: 400;
}
/*======================================================*/

.container{
	width: 67vw;
	margin: 166px auto;
	& .title{
		margin-bottom: 66px;
		& h1{
			font-size: 35px;
			font-weight: 200;
			
		}
	}
	& .table{
		box-shadow: -15px -15px 50px white, 20px -20px 50px rgba(120, 120, 120, .1);
		border-radius: 0 15px 15px 0;
	    background: -webkit-linear-gradient(left, #3BFBEA, #0CFEB8);
	    background: -o-linear-gradient(left, #3BFBEA, #0CFEB8);
	    background: linear-gradient(to right, transparent 0%, transparent 30%, #3BFBEA 30%, #0CFEB8);
		display: grid;
		grid-template-columns: 3fr 3fr 2fr;
		grid-gap: 25px;
		padding: 20px 20px 25px 0;
		& .li-info{
				padding: 22px 0 0 25px;
				display: flex;
			& p, span{
				padding: 4px 0 0 17px;

			}
		}
		& .column{
			border-radius: 10px 10px 10px 10px;
			& li{
				&:first-child{
					border-radius: 10px 10px 0px 0px;
				}
				&:last-child{
					border-radius: 0 0 10px 10px;
				}
			}
		}
		& .table__work{
			box-shadow: -15px 0 50px rgba(120, 120, 120, .2);
			& li:first-child{
			}
			& .li-info{
				&:first-child{
					& span{
						padding-left: 0;
					}
				}
			}
		}
		& .table__cost{
			& .li-info {
				&:first-child{
					& span:first-child{
						margin-left: 0;
					}
				}
				& span:last-child{
					margin-left: auto;
					padding-right: 55px;
					font-weight: 700;
				}

			}
		}
		& .table__order{
			& ul li{
					display: flex;
					justify-content: center;
					align-items: center;
				& .li-info{
					padding: 0;
					& a{
						font-weight: 700;
						color: #BCC8CE;
						padding: 10px 50px;
						background: transparent;
						border: 1px solid #BCC8CE;
				        border-radius: 30px 30px 30px 30px;
					}
				}
			}
		}
		& .wrapup{
			grid-row: 2 / 2;
			grid-column: 2 / 2;
			& a{
				font-size: 22px;
				font-weight: 400;
				color: #37456F;
				& img{
					margin: 0 0 -5px 18px;
					display: inline-block;
					max-width: 45px;
					max-height: 25px;
				}
				& svg{
					margin: 0 26px 2px 0;
				}
			}
		}
	}
}